---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import HeroBlackHole from '../components/HeroBlackHole.astro';
import MainSections from '../components/MainSections.astro';
---

<BaseLayout>
  <Nav />

  <main class="shell" id="top">
    <HeroBlackHole />
    <MainSections />
  </main>
</BaseLayout>
